:root {
  color-scheme: light;
}

body {
  color: light-dark(#ebe9fc, #faf5f5);
  background-color: light-dark(#f3f4fb, #471c1c);
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.top-info_strip {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #c32828);
  padding: 1% 1%;
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}

.top-info_strip a {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  text-decoration: none;
  font-size: 120%;
  font-weight: 800;
}

.top-info_strip a:hover {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  text-decoration: underline;
}

header {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #b70b0b);
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: left; /*разпределя елементите по хоризонтала */
  gap: 10px;
  position: relative;
}

header h1 {
  font-weight: 800;
  margin-left: 1.5%;
  font-size: 190%;
  line-height: 1.5;
}

.report-button {
  color: rgb(255, 238, 207);
  background-color: light-dark(#509ff3, #580505);
  width: 400px;
  height: 150px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  white-space: nowrap;
}

.report-button:hover {
 background-color: light-dark(#0e1f30, #240202);
}

.map-button {
  color: rgb(255, 238, 207);
  background-color: light-dark(#509ff3, #580505);
  width: 150px;          
  height: 150px;         
  border-radius: 8px;  
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  font-size: 90px;     
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;   
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;          
  white-space: nowrap;
}
.map-button:hover {
   background-color: light-dark(#0e1f30, #240202);
}
/*Making the buttons design*/

#mvr {
  width: 8%;
  height: 8%;
  min-width: 150px;
  min-height: 150px;
}

#montana {
  width: 6%;
  height: 6%;
  min-width: 100px;
  min-height: 100px;
}

.bottom-nav-strip {
  display: flex;
  align-items: center;
  gap: 2%;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #b70b0b);
  border: light-dark(#0a0505, #faf5f5);
  padding: 1% 1%;
  position: relative;
  bottom: 10px;
}
/*css for the bottom navbar*/

.bottom-nav-strip .dropdown {
  position: relative;
}

.bottom-nav-strip a {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: 120%;
  font-weight: 525;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #881111);
  border: light-dark(#0a0505, #faf5f5);
  padding: 1%;
  min-width: 50%;
  border-radius: 12px;
}

.submenu a {
  display: block;
  padding: 8px 16px;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
}

.submenu a:hover {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#2871bb, #881111);
  border-radius: 12px;
}

.dropdown:hover .submenu {
  display: block;
}

.bottom-nav-strip a:hover {
  text-decoration: underline;
}

/*css for the dropdown submenu*/

.theme-toggle {
  margin-left: auto;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle__classic {
  width: 80%; 
  height: 80%;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
}

.button-panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  padding: 25px;
}

.panel-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22%;
  aspect-ratio: 1 / 1;
  color: light-dark(rgb(255, 238, 207), #000000);
  background-color: light-dark(#3390ec, #881111);
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-top: 5%;
  margin-bottom: 4%;
}

.panel-button img {
  max-width: 50%;
  margin-bottom: 10px;
}

.panel-button:hover {
  color: light-dark(black, rgb(255, 238, 207));
  background-color: light-dark(#f3f4fb, #471c1c);
  transform: scale(1.05);
}

/* making it responsive */
@media (max-width: 800px) {
  .panel-button {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .panel-button {
    width: 90%;
  }
}
/*css for the quick acces buttons*/

.info-section {
  width: 100%;
  color: light-dark(#0a0505, #0a0505);
  background-color: light-dark(#ebe9fc, #c32828);
  padding: 2% 5%;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}

.section-header {
  color: light-dark(#0a0505, #0a0505);
  background-color: light-dark(#d73c3c, #c32828);
  font-weight: bold;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  justify-content: space-between;
  padding: 2% 0;
}

.info-box {
  flex: 1 1 45%;
  background-color: light-dark(#000000, #c32828);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  box-sizing: border-box;
}

.info-box h3 {
  margin-bottom: 10px;
  color: var(--primary);
  font-size: 1rem;
}

.info-box ul {
  list-style: none;
  padding: 0;
}

.info-box ul li {
  margin: 6px 0;
}

.info-box ul li a {
  text-decoration: none;
}

.profile-img {
  width: 120px;
  height: auto;
  display: block;
  margin: 15px auto;
  border-radius: 4px;
}

.dual-panels {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  padding: 2%;
  justify-content: space-between;
}

.panel {
  flex: 1 1 47%;
  color:#e3ecf7;
  background-color: light-dark(#edf3f9, #ffffff); /* Example */
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.518);
  overflow: hidden;
}

.panel-header {
  color: light-dark(rgb(255, 238, 207), #ffffff);
  background-color: light-dark(#3390ec, #c32828);
  padding: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
}

.panel-content {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.links {
  flex: 1;
}

.links h3,
.director h3 {
  color: #1e1e1e;
  font-size: 1rem;
  margin-bottom: 10px;
}

.links ul {
  list-style: none;
  padding-left: 0;
}

.links ul li {
  margin: 6px 0;
}

.links ul li a {
  color: #003366;
  text-decoration: none;
}

.director {
  flex: 1;
  text-align: center;
}

.director-description {
  padding-top: 1%;
  color: #0a0505;
  font-weight: bold;
}

.director-name {
  color: light-dark(#3390ec, #881111);
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-img2 {
  border-radius: 30px;
}
/*css for the director info boxes*/

.footer {
  text-align: center;
  padding: 20px;
  font-size: 1.0em;
  color: light-dark(#3390ec, #881111);
  background-color: light-dark(#303030, #1a1a1a);
  border-top: 1px solid light-dark(#ccc, #333);
  margin-top: 40px;
}

/*css for footer*/