body {
  color: light-dark(#ebe9fc, #faf5f5);
  background-color: light-dark(#f3f4fb, #471c1c);
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
}

.firefighters{
    color: light-dark(#000000, #faf5f5);
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-top: 6em;
  margin-bottom: 8em;
}

.team {
  background-color: light-dark(#ffffff, #881111);
  color: light-dark(#000000, #faf5f5);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 150%;
}

.available {
  color: green;
  font-weight: bold;
}

.busy {
  color: red;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 20px;
  font-size: 1em;
  color: light-dark(#3390ec, #881111);
  background-color: light-dark(#303030, #1a1a1a);
  border-top: 1px solid light-dark(#ccc, #333);
  margin-top: 40px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#mvr {
  width: 8%;
  height: 8%;
  min-width: 150px;
  min-height: 150px;
}

#montana {
  width: 6%;
  height: 6%;
  min-width: 100px;
  min-height: 100px;
}

.bottom-nav-strip {
  display: flex;
  align-items: center;
  gap: 2%;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #b70b0b);
  border: light-dark(#0a0505, #faf5f5);
  padding: 1% 1%;
  position: relative;
  bottom: 10px;
}
/*css for the bottom navbar*/

.bottom-nav-strip .dropdown {
  position: relative;
}

.bottom-nav-strip a {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: 120%;
  font-weight: 525;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #881111);
  border: light-dark(#0a0505, #faf5f5);
  padding: 1%;
  min-width: 50%;
  border-radius: 12px;
}

.submenu a {
  display: block;
  padding: 8px 16px;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
}

.submenu a:hover {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#2871bb, #881111);
  border-radius: 12px;
}

.dropdown:hover .submenu {
  display: block;
}

.bottom-nav-strip a:hover {
  text-decoration: underline;
}

/*css for the dropdown submenu*/

.theme-toggle {
  margin-left: auto;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle__classic {
  width: 80%;
  height: 80%;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
}

:root {
  color-scheme: light;
}

body {
  color: light-dark(#ebe9fc, #faf5f5);
  background-color: light-dark(#f3f4fb, #471c1c);
  font-family: "Anton", sans-serif;
  font-weight: 400;
}

.top-info_strip {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#5fa6ee, #c32828);
  padding: 1% 1%;
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}

.top-info_strip a {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  text-decoration: none;
  font-size: 120%;
  font-weight: 800;
}

.top-info_strip a:hover {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  text-decoration: underline;
}

header {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #b70b0b);
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: left; /*разпределя елементите по хоризонтала */
  gap: 10px;
  position: relative;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

header h1 {
  font-weight: 800;
  margin-left: 1.5%;
  font-size: 190%;
  line-height: 1.5;
}

.release-button
{
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #420303);
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.release-button:hover {
  background-color: light-dark(#1e558d, #070000);
}