header {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #b70b0b);
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: left; /*разпределя елементите по хоризонтала */
  gap: 10px;
  position: relative;
}

header h1 {
  font-weight: 800;
  margin-left: 1.5%;
  font-size: 190%;
  line-height: 1.5;
}

.report-button {
  color: rgb(255, 238, 207);
  background-color: light-dark(#509ff3, #580505);
  width: 400px;
  height: 150px;
  border-radius: 8px;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
  transition: background-color 0.5s ease;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  white-space: nowrap;
}

.report-button:hover {
 background-color: light-dark(#0e1f30, #240202);
}

.map-button {
  color: rgb(255, 238, 207);
  background-color: light-dark(#509ff3, #580505);
  width: 150px;          
  height: 150px;         
  border-radius: 8px;  
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  font-size: 90px;     
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;   
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;          
  white-space: nowrap;
}
.map-button:hover {
   background-color: light-dark(#0e1f30, #240202);
}
/*Making the buttons design*/

#mvr {
  width: 8%;
  height: 8%;
  min-width: 150px;
  min-height: 150px;
}

#montana {
  width: 6%;
  height: 6%;
  min-width: 100px;
  min-height: 100px;
}

.bottom-nav-strip {
  display: flex;
  align-items: center;
  gap: 2%;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #b70b0b);
  border: light-dark(#0a0505, #faf5f5);
  padding: 1% 1%;
  position: relative;
  bottom: 10px;
}
/*css for the bottom navbar*/

.bottom-nav-strip .dropdown {
  position: relative;
}

.bottom-nav-strip a {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: 120%;
  font-weight: 525;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#3390ec, #881111);
  border: light-dark(#0a0505, #faf5f5);
  padding: 1%;
  min-width: 50%;
  border-radius: 12px;
}

.submenu a {
  display: block;
  padding: 8px 16px;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
}

.submenu a:hover {
  color: light-dark(rgb(255, 238, 207), #faf5f5);
  background-color: light-dark(#2871bb, #881111);
  border-radius: 12px;
}

.dropdown:hover .submenu {
  display: block;
}

.bottom-nav-strip a:hover {
  text-decoration: underline;
}

/*css for the dropdown submenu*/

.theme-toggle {
  margin-left: auto;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle__classic {
  width: 80%; 
  height: 80%;
  color: light-dark(rgb(255, 238, 207), #faf5f5);
}

.fire-title{
      color: light-dark(rgb(0, 0, 0), #faf5f5);
      text-align: center;
}